!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Patron
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      %p PATRON
      .header__light
        %p Search
        %p Start my page
        %p Explore Creaters
        = link_to "Sign up", new_user_path
        %p Log in
    = yield
