!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Patron
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      %p PATRON
      .header__light
        = form_tag('/search', method: "post") do
          = text_field :user, :name
        %p Start my page
        %p Explore Creaters
        = link_to "Sign up", new_user_registration_path
        = link_to "Log in", new_user_session_path
        = link_to "Sign out", destroy_user_session_path, method: :delete
        %p Log in
    -if user_signed_in?
      %p こんにちは #{current_user.username} 
    = yield
